# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
bower_components/

# Output directories
dist/
tmp/
out-tsc/

# Angular specific
.angular/
.build/
.sass-cache/
*.ngsummary.json
*.ngfactory.ts
*.scssc

# Environment variables
*.env

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Compiled files
*.dll
*.exe
*.so
*.dylib

# Compiled Java classes
*.class

# Static site
site

# Misc
*.swp
*~
.project
.workspace
.metadata
*.bak
*.orig
*.rej
*.sw


_borrador.txt