<!-- <basic-card [title]="'Organización de Elecciones en España'">
  <ul class="color-ex">
    <li>
      <strong>Administración Electoral:</strong> La Junta Electoral Central, las Juntas Electorales Provinciales, las
      Juntas Electorales de Zona y las mesas electorales son las encargadas de garantizar la transparencia y
      objetividad del proceso electoral.
      <a href="https://www.lamoncloa.gob.es/serviciosdeprensa/notasprensa/interior/Paginas/2024/glosario-elecciones-espana.aspx"
        target="_blank">Más información</a>
    </li>
    <li>
      <strong>Ministerio del Interior:</strong> Gestiona la logística del proceso electoral, elabora el calendario
      electoral y difunde los resultados.
      <a href="https://infoelectoral.interior.gob.es/es/proceso-electoral/calendario-electoral/" target="_blank">Más
        información</a>
    </li>
    <li>
      <strong>Oficina del Censo Electoral:</strong> Parte del Instituto Nacional de Estadística, es responsable de
      actualizar el censo electoral para asegurar que todos los ciudadanos con derecho a voto estén registrados
      correctamente.
      <a href="https://ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176828&idp=1254735576529&menu=resultados"
        target="_blank">Más información</a>
    </li>
    <a href="{{url}}" target="_blank"><strong>Calendario-Electoral</strong>
    </a>
  </ul>
</basic-card> -->

<h2 style="text-align: center;">
  Propuestas a futura votación
</h2>

<!-- {{item.statusClass=='btn-success'?'btn-default':'btn-success'}}  -->

<basic-card *ngFor="let item of votingItems" [title]="item.title">
  <div header-content>
    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn" [ngClass]="item.statusClass">Votantes: {{ item.voters }}</button>
      <button type="button" class="btn" [ngClass]="item.statusClass">{{ item.status }}</button>
    </div>
  </div>
  <div class="vote-info-container" [ngClass]="{ 'half-width': tools.isDesktop() }">
    <strong style="font-weight: 900; font-size: 1.1em; color: #007BFF;">- Fecha de votación:</strong>
    {{ item.date }}
    <br>
    <strong style="font-weight: 900; font-size: 1.1em; color: #28A745;">- Descripción:</strong>
    {{ item.description }}
  </div>
</basic-card>

<div style="display: flex; justify-content: center; align-items: center;">
  <button class="btn btn-sm btn-outline-success">
    <i class="fas fa-plus"></i> Nueva propuesta
  </button>
</div>
