<!-- <basic-card [title]="'Organización de Elecciones en España'">
  <ul class="color-ex">
    <li>
      <strong>Administración Electoral:</strong> La Junta Electoral Central, las Juntas Electorales Provinciales, las
      Juntas Electorales de Zona y las mesas electorales son las encargadas de garantizar la transparencia y
      objetividad del proceso electoral.
      <a href="https://www.lamoncloa.gob.es/serviciosdeprensa/notasprensa/interior/Paginas/2024/glosario-elecciones-espana.aspx"
        target="_blank">Más información</a>
    </li>
    <li>
      <strong>Ministerio del Interior:</strong> Gestiona la logística del proceso electoral, elabora el calendario
      electoral y difunde los resultados.
      <a href="https://infoelectoral.interior.gob.es/es/proceso-electoral/calendario-electoral/" target="_blank">Más
        información</a>
    </li>
    <li>
      <strong>Oficina del Censo Electoral:</strong> Parte del Instituto Nacional de Estadística, es responsable de
      actualizar el censo electoral para asegurar que todos los ciudadanos con derecho a voto estén registrados
      correctamente.
      <a href="https://ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176828&idp=1254735576529&menu=resultados"
        target="_blank">Más información</a>
    </li>
    <a href="{{url}}" target="_blank"><strong>Calendario-Electoral</strong>
    </a>
  </ul>
</basic-card> -->

<button class="mt-3 mb-3 btn btn-outline-success">
  <i class="fas fa-plus"></i> Nueva propuesta
</button>

<h2>Propuestas a futura votación</h2>

<basic-card [title]="'¿Qué sistema de votación queremos? ¿Cuál es el mejor modelo y método?'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-success">Votantes: 0</button>
    <button type="button" class="btn btn-success">Votación Abierta</button>
  </div>
  <p><strong>Fecha de votación:</strong> 15 de mayo de 2024</p>
  <p><strong>Descripción:</strong> Se debatirá sobre los sistemas de votación más efectivos, incluyendo opciones como el
    sistema de representación proporcional y el método de elección directa.</p>
</basic-card>

<basic-card [title]="'¿Cuáles son nuestros propósitos?'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-success">Votantes: 0</button>
    <button type="button" class="btn btn-success">Votación Abierta</button>
  </div>
  <p><strong>Fecha de votación:</strong> 10 de junio de 2024</p>
  <p><strong>Descripción:</strong> Definir los objetivos a largo plazo del grupo, como mejorar la transparencia en la
    gestión pública y fomentar la participación ciudadana.</p>
</basic-card>

<basic-card [title]="'¿Cuáles son los principales problemas que más atañen a la población?'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-secondary">Votantes: 350</button>
    <button type="button" class="btn btn-secondary">Votación Cerrada</button>
  </div>
  <p><strong>Fecha de votación:</strong> 20 de abril de 2024</p>
  <p><strong>Descripción:</strong> Priorizar los problemas más urgentes, como la gestión del agua, la eficiencia
    energética, y el acceso a la vivienda.</p>
</basic-card>

<basic-card [title]="'Dominio de esta web'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-secondary">Votantes: 215</button>
    <button type="button" class="btn btn-secondary">Votación Cerrada</button>
  </div>
  <p><strong>Fecha de votación:</strong> 5 de marzo de 2024</p>
  <p><strong>Descripción:</strong> Decidir el dominio definitivo de esta plataforma web y su posible alcance a nivel
    nacional.</p>
</basic-card>

<basic-card [title]="'Fuente de esta web'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-success">Votantes: 0</button>
    <button type="button" class="btn btn-success">Votación Abierta</button>
  </div>
  <p><strong>Fecha de votación:</strong> 25 de julio de 2024</p>
  <p><strong>Descripción:</strong> Elegir las fuentes y referencias que respaldarán el contenido y las decisiones
    presentadas en la web.</p>
</basic-card>

<basic-card [title]="'Gestión de los recursos hídricos del país'">
  <div class="btn-group btn-group-sm vote-info" role="group">
    <button type="button" class="btn btn-success">Votantes: 0</button>
    <button type="button" class="btn btn-success">Votación Abierta</button>
  </div>
  <p><strong>Fecha de votación:</strong> 12 de agosto de 2024</p>
  <p><strong>Descripción:</strong> Proponer medidas para mejorar la distribución y conservación del agua, asegurando la
    sostenibilidad de este recurso vital.</p>
</basic-card>