<basic-card [title]="'Infraestructura Propuesta'">
    <p>
      Hemos definido una infraestructura que incluye:
    </p>
    <ul>
      <li><strong>Front-end:</strong> Angular</li>
      <li><strong>Back-end:</strong> Node.js o API .Net</li>
      <li><strong>Base de datos:</strong> MongoDB</li>
      <li>
        <strong>Servidores:</strong> Actualmente utilizamos un servidor en Contabo con las siguientes
        especificaciones:
        <ul>
          <li>CPU: 4 cores</li>
          <li>RAM: 6 GB</li>
          <li>Almacenamiento: 100 GB NVMe</li>
          <li>Conectividad: 200 Mbit/s de banda ancha</li>
        </ul>
      </li>
    </ul>
  </basic-card>
  