<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button *ngIf="hasClose" type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('close')"></button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer" *ngIf="hasOk || hasCancel">
    <button [disabled]="okDisabled" *ngIf="hasOk" type="button" class="btn btn-{{ cssOk }}" (click)="onOkClick()">
      {{ textOk }}
    </button>
    <button [disabled]="cancelDisabled" *ngIf="hasCancel" type="button" class="btn btn-{{ cssCancel }}"
      (click)="onCancelClick()">
      {{ textCancel }}
    </button>
  </div>
</ng-template>
