<header>
  <div class="alert alert-primary badge text-black w-100">
    <div class="card-body">
      📢 El logo y el título son algo provisional pendiente de votacion <br> <br>
      📢 Toda la información y datos presentada en este sitio web a día de hoy {{ currentDate }}, <br> es susceptible a
      cambio hasta que se supere la primera etapa del proyecto.
    </div>
  </div>

  <div class="d-flex flex-column align-items-center m-3">
    <div class="d-flex align-items-center">
      <img src="../assets/logo.svg" alt="Logo" style="width: 25px; height: auto; margin-right: 10px;">
      <h4 style="margin: 0;">{{ title }}</h4>
    </div>
  </div>


  <!-- HERE CORUSEL WITH NEW PROPORSALS TO SEE HOW THEY LOOK -->

</header>

<nav class="navbar navbar-light bg-dark" [ngClass]="{'navbar-expand-lg': tools.isDesktop(), '': !tools.isDesktop()}">
  <div class="container-fluid">
    <div *ngIf="tools.isDesktop()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems">
          <button
            [ngClass]="isActive(item.route) ? 'm-1 btn btn-sm btn-success text-white' : 'm-1 btn btn-sm btn-secondary text-white'"
            (click)="navigate(item.route)">
            {{ item.label }}
          </button>
        </li>
      </ul>
    </div>

    <div *ngIf="!tools.isDesktop()" class="dropdown w-100 m-1">
      <button class="m-1 btn btn-sm btn-success dropdown-toggle w-100" type="button" id="dropdownMenuButton"
        data-bs-toggle="dropdown" aria-expanded="false">
        {{ selectedMenu }}
      </button>
      <ul class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let item of navItems" style="cursor: pointer;">
          <a class="dropdown-item" (click)="selectMenu(item.label); navigate(item.route)" routerLinkActive="active">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<web-card>
  <router-outlet></router-outlet>
</web-card>

<footer>
  <div class="alert text-white badge bg-secondary text-black w-100">
    <div class="card-body">
      Organización y Transparencia<br>
      La transparencia y el diálogo son pilares de nuestra idea. <br>
      <a  class="text-white" href="https://github.com/tecnocracia-espanola/tecnocracia-espanola.es" target="_blank">Todo el código está
        disponible en nuestro GitHub</a>
    </div>
    <br>
    <select (change)="onFontChange($event)">
      <option *ngFor="let font of tools.fontOptions" [value]="font">{{ font }}</option>
    </select>
  </div>
</footer>