<div class="color-ex">
    <!-- Declaración de Intenciones Card -->
    <basic-card [title]="'Declaración de Intenciones'">
        <p>
            Queremos ser útiles a nuestra sociedad mediante el uso de la tecnología para mejorar ámbitos clave y
            ofrecer soluciones transparentes y efectivas. Nuestra misión es construir herramientas accesibles
            que promuevan la transparencia, el diálogo, y una mejor gestión pública, evitando malas prácticas
            políticas y sociales.
        </p>
    </basic-card>

    <basic-card [title]="'Problemas a Arreglar'">
        <ul class="color-ex">
            <li>
                <strong>Falta de división de poderes:</strong> En nuestro Estado no existe una verdadera separación
                de poderes (ejecutivo, legislativo y judicial). Esto genera un sistema vulnerable a la corrupción,
                ya que los poderes no se controlan adecuadamente entre sí.
            </li>
            <li>
                <strong>Sistema de pensiones insostenible:</strong> Las pensiones operan como un
                <span style="text-decoration: underline; cursor: pointer; color: navy;"
                    [ngbTooltip]="expliacionEsquemaPonzi">esquema Ponzi</span> dependiendo de más jóvenes cotizando que
                jubilados cobrando. El envejecimiento de la población hace insostenible este sistema.
            </li>
            <li>
                <strong>Deuda actual y futura:</strong> La deuda pública oficial es del 120% del PIB, pero la deuda
                real, considerando pensiones futuras, podría superar el 160% del PIB. Sin la ayuda del Banco Central
                Europeo, los intereses podrían desencadenar graves crisis económicas.
            </li>
            <li>
                <strong>Mentalidad y redes clientelares:</strong> Las reformas necesarias son impopulares, y los
                políticos no las implementan por temor a perder votantes, especialmente de los pensionistas, un
                grupo crucial en elecciones.
            </li>
        </ul>
    </basic-card>

    <basic-card [title]="'Proyectos y Soluciones Tecnológicas'">
        <ul>
            <li>
                <strong>Sistema de prevención de desastres naturales:</strong> Implementar un sistema meteorológico
                riguroso y alarmas inmediatas para catástrofes como la DANA. Analizaremos patrones meteorológicos
                usando tecnología avanzada.
            </li>
            <li>
                <strong>Detección de corrupción:</strong> Uso de tecnología para detectar patrones de corrupción en
                cuentas públicas y mercantiles, analizando datos financieros.
            </li>
            <li>
                <strong>Educación optimizada:</strong> Aplicar tecnología para evaluar y mejorar el sistema
                educativo. Identificar métodos más eficientes basados en datos.
            </li>
            <li>
                <strong>Noticias transparentes:</strong> Desarrollar un agregador de noticias local con un sistema
                que etiquete y filtre noticias de forma objetiva, permitiendo un acceso transparente a la información.
            </li>
        </ul>
    </basic-card>

    <basic-card [title]="'Futuras Colaboraciones'">
        <p>
            Necesitamos gente que quiera colaborar, especialmente expertos en tecnología, pero también personas
            con una perspectiva social y humanística. <br> Nos inspiramos en proyectos como
            <a href="https://www.instagram.com/red.asirem/" target="_blank"
                style="text-decoration: underline; cursor: pointer; color: navy;" [ngbTooltip]="expliacionASIREM">
                ASIREM en Tenerife</a>, y queremos seguir
            un modelo de colaboración ciudadana.
        </p>
    </basic-card>

    <basic-card [title]="'Próximos Pasos'">
        <ul>
            <li>Crear una web simple que informe de nuestras intenciones y permita la participación ciudadana.</li>
            <li>Escribir un manifiesto claro que explique nuestras metas, herramientas, y necesidades.</li>
            <li>Organizar grupos de trabajo para desarrollar soluciones concretas.</li>
            <li>Iniciar contactos con otras asociaciones, como Maldita.es, para aprender de sus métodos.</li>
        </ul>
    </basic-card>

    <basic-card [title]="'Organización y Transparencia'">
        <p>
            La transparencia y el diálogo son pilares de nuestra idea. Todo el código esta disponible en <a href="https://github.com/tecnocracia-espanola/tecnocracia-espanola.es"
                target="_blank">nuestro GitHub</a>.
        </p>
    </basic-card>
</div>