<div class="color-ex">
    <!-- Declaración de Intenciones Card -->
    <basic-card [title]="'Declaración de Intenciones'">
        <p>
            Queremos ser útiles a nuestra sociedad mediante el uso de la tecnología para mejorar ámbitos clave y
            ofrecer soluciones transparentes y efectivas. Nuestra misión es construir herramientas accesibles
            que promuevan la transparencia, el diálogo y una mejor gestión pública, evitando malas prácticas
            políticas y sociales.
        </p>
        <p>
            Creemos firmemente que se necesitan técnicos, profesionales y expertos en tecnología que comprendan
            las realidades y necesidades sociales de verdad, en lugar de depender de políticos desconectados
            de la realidad social. Nuestra visión es priorizar la experiencia y el conocimiento práctico para
            garantizar soluciones eficaces y relevantes.
        </p>
    </basic-card>


    <basic-card [title]="'Problemas a analizar'">
        <ul class="color-ex">
            <li>
                <strong>Falta de división de poderes:</strong> Aunque la Constitución Española establece la separación
                de poderes entre el ejecutivo, legislativo y judicial, existen preocupaciones sobre la independencia
                real de estos poderes. La elección de miembros del Consejo General del Poder Judicial por parte del
                Parlamento ha suscitado debates sobre la verdadera autonomía del poder judicial, haciendo el sistema
                vulnerable a la corrupción. <a
                    href="https://es.wikipedia.org/wiki/Separaci%C3%B3n_de_poderes_%28Espa%C3%B1a%29"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Sistema de pensiones insostenible:</strong> El envejecimiento de la población y la baja tasa de
                natalidad ponen en riesgo la sostenibilidad del sistema de pensiones. Un informe de Mercer sitúa a
                España en el puesto 26 de 47 países en cuanto a la sostenibilidad de las pensiones, destacando la
                necesidad urgente de reformas. <a
                    href="https://forbes.es/economia/521524/la-sostenibilidad-del-sistema-de-pensiones-espanol-mejora-en-2024-pero-se-mantiene-como-el-principal-desafio/"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Deuda actual y futura:</strong> La deuda pública de España alcanzó el 113,2% del PIB en el
                segundo trimestre de 2024, según el Banco de España. El gasto en pensiones contributivas representa el
                11,5% del PIB, lo que plantea serias preocupaciones sobre la capacidad de financiar las obligaciones
                futuras sin comprometer la estabilidad económica. <a
                    href="https://lagradaonline.com/news/subidon-pensiones-maximas-2025/" target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Mentalidad y redes clientelares:</strong> Las reformas estructurales necesarias a menudo se ven
                obstaculizadas por intereses políticos y la influencia de grupos de presión. La resistencia a cambios
                impopulares, especialmente aquellos que afectan a sectores clave como los pensionistas, dificulta la
                implementación de medidas que mejorarían la transparencia y eficiencia en la gestión pública. <a
                    href="https://www.economiadigital.es/economia/no-salen-las-cuentas-el-sistema-de-pensiones-tiembla.html"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Ineficiencia en la Gestión de Emergencias:</strong> La respuesta gubernamental a catástrofes es
                muy lenta debido a una gestión burocrática que prioriza la política sobre la acción rápida y eficaz. El
                ejército, que es una fuerza altamente eficiente en emergencias, no se utiliza adecuadamente por
                decisiones políticas, lo que lleva a consecuencias trágicas. <a
                    href="https://www.elblogsalmon.com/economia/quiebras-sistema-como-espana-esta-pagando-pensiones-14-cambios-parches-1985"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Politización y Mediocridad en la Administración Pública:</strong> Los puestos de responsabilidad
                en cuerpos como la policía y la Guardia Civil están ocupados por personas sin experiencia ni competencia
                adecuada, elegidos por afinidad política en lugar de mérito profesional. Se mencionan casos de
                corrupción y decisiones políticas que perpetúan la mediocridad y afectan la eficiencia de los servicios
                públicos. <a
                    href="https://www.balms.es/es/blog/10/actualidad-legal/1484/existe-una-verdadera-separacion-de-poderes-en-la-espana-actual"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Desinformación y Manipulación Mediática:</strong> Se critica la falta de información veraz y
                oportuna a través de los medios de comunicación, lo que obliga a la ciudadanía a buscar fuentes
                alternativas. Los medios tradicionales son percibidos como manipulados para proteger narrativas
                políticas, lo que contribuye a la desconfianza pública. <a
                    href="https://elpais.com/espana/2023-11-15/la-audiencia-nacional-exige-respeto-a-la-division-de-poderes-tras-el-pacto-de-psoe-y-junts.html"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Problemas en la Seguridad y el Orden Público:</strong> Aumento significativo de la criminalidad,
                especialmente en delitos violentos y sexuales, mientras las autoridades responsables son premiadas o
                mantenidas en sus cargos. Falta de organización y voluntad para enfrentar problemas de seguridad de
                manera eficiente y equitativa. <a
                    href="https://www.economistjurist.es/articulos-juridicos-destacados/sobre-la-danada-separacion-de-poderes/"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Descontrol en la Inmigración:</strong> La gestión de la inmigración se percibe como
                descontrolada, lo que lleva a problemas de integración y seguridad en barrios degradados. Se menciona la
                necesidad de controles más estrictos y políticas claras para evitar la creación de sociedades paralelas
                basadas en la criminalidad. <a
                    href="https://www.cepc.gob.es/sites/default/files/2021-12/16362repne053174.pdf"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Gasto Público Desproporcionado e Ineficaz:</strong> Recursos públicos se utilizan para
                estructuras innecesarias que solo benefician a ciertos grupos políticos, mientras que servicios
                esenciales como emergencias y seguridad son inadecuadamente financiados. Se denuncia un despilfarro de
                fondos en programas que no aportan valor real a la sociedad. <a
                    href="https://www.caixabankresearch.com/es/economia-y-mercados/sector-publico/reformar-sistema-pensiones-busqueda-sostenibilidad"
                    target="_blank">[Fuente]</a>
            </li>
            <li>
                <strong>Impacto Negativo en los Trabajadores Públicos:</strong> Profesionales como policías y guardias
                civiles se ven desmotivados y enfrentan consecuencias si intentan mejorar la situación o denunciar
                irregularidades. El sistema está diseñado para proteger a los políticos en lugar de a los servidores
                públicos que realmente quieren hacer bien su trabajo. <a
                    href="https://www.hayderecho.com/2017/10/18/existe-en-espana-la-division-de-poderes-algunos-ejemplos-y-algunos-datos/"
                    target="_blank">[Fuente]</a>
            </li>
        </ul>
    </basic-card>
    <!--  -->

    <!-- <basic-card [title]="'Problemas a Arreglar'">
    <ul class="color-ex">
        <li>
            <strong>Falta de división de poderes:</strong> Aunque la Constitución Española establece la separación de poderes
            entre el ejecutivo, legislativo y judicial, existen preocupaciones sobre la independencia real de estos poderes.
            La elección de miembros del Consejo General del Poder Judicial por parte del Parlamento ha suscitado debates sobre
            la verdadera autonomía del poder judicial, haciendo el sistema vulnerable a la corrupción.
        </li>
        <li>
            <strong>Sistema de pensiones insostenible:</strong> El envejecimiento de la población y la baja tasa de natalidad
            ponen en riesgo la sostenibilidad del sistema de pensiones, que opera como un
            <span style="text-decoration: underline; cursor: pointer; color: navy;" [ngbTooltip]="expliacionEsquemaPonzi">
                esquema Ponzi</span>.
            Un informe de Mercer sitúa a España en el puesto 26 de 47 países en cuanto a la sostenibilidad de las pensiones,
            destacando la necesidad urgente de reformas.
        </li>
        <li>
            <strong>Deuda actual y futura:</strong> La deuda pública de España alcanzó el 113,2% del PIB en el segundo trimestre
            de 2024, según el Banco de España. El gasto en pensiones contributivas representa el 11,5% del PIB, lo que plantea
            serias preocupaciones sobre la capacidad de financiar las obligaciones futuras sin comprometer la estabilidad
            económica.
        </li>
        <li>
            <strong>Mentalidad y redes clientelares:</strong> Las reformas estructurales necesarias a menudo se ven obstaculizadas
            por intereses políticos y la influencia de grupos de presión. La resistencia a cambios impopulares, especialmente
            aquellos que afectan a sectores clave como los pensionistas, dificulta la implementación de medidas que mejorarían
            la transparencia y eficiencia en la gestión pública.
        </li>
    </ul>
</basic-card> -->

    <!-- <basic-card [title]="'Problemas a Arreglar'">
    <ul class="color-ex">
        <li>
            <strong>Falta de división de poderes:</strong> Aunque la Constitución Española establece la separación de poderes
            entre el ejecutivo, legislativo y judicial, existen preocupaciones sobre la independencia real de estos poderes.
            La elección de miembros del Consejo General del Poder Judicial por parte del Parlamento ha suscitado debates sobre
            la verdadera autonomía del poder judicial, haciendo el sistema vulnerable a la corrupción.
            <a href="URL OF THE SOURCE" target="_blank">[Fuente]</a>
        </li>
        <li>
            <strong>Sistema de pensiones insostenible:</strong> El envejecimiento de la población y la baja tasa de natalidad
            ponen en riesgo la sostenibilidad del sistema de pensiones, que opera como un
            <span style="text-decoration: underline; cursor: pointer; color: navy;" [ngbTooltip]="expliacionEsquemaPonzi">
                esquema Ponzi</span>.
            Un informe de Mercer sitúa a España en el puesto 26 de 47 países en cuanto a la sostenibilidad de las pensiones,
            destacando la necesidad urgente de reformas.
            <a href="https://elpais.com/economia/2024-10-18/la-sostenibilidad-de-las-pensiones-sigue-siendo-un-desafio-para-espana-pese-a-su-mejoria-segun-mercer.html" target="_blank">[Fuente]</a>
        </li>
        <li>
            <strong>Deuda actual y futura:</strong> La deuda pública de España alcanzó el 113,2% del PIB en el segundo trimestre
            de 2024, según el Banco de España. El gasto en pensiones contributivas representa el 11,5% del PIB, lo que plantea
            serias preocupaciones sobre la capacidad de financiar las obligaciones futuras sin comprometer la estabilidad
            económica.
            <a href="https://www.economiadigital.es/economia/no-salen-las-cuentas-el-sistema-de-pensiones-tiembla.html" target="_blank">[Fuente]</a>
        </li>
        <li>
            <strong>Mentalidad y redes clientelares:</strong> Las reformas estructurales necesarias a menudo se ven obstaculizadas
            por intereses políticos y la influencia de grupos de presión. La resistencia a cambios impopulares, especialmente
            aquellos que afectan a sectores clave como los pensionistas, dificulta la implementación de medidas que mejorarían
            la transparencia y eficiencia en la gestión pública.
            <a href="https://www.balms.es/es/blog/10/actualidad-legal/1484/existe-una-verdadera-separacion-de-poderes-en-la-espana-actual" target="_blank">[Fuente]</a>
        </li>
    </ul>
</basic-card> -->

    <!-- <basic-card [title]="'Problemas a Arreglar'">
    <ul class="color-ex">
        <li>
            <strong>Falta de división de poderes:</strong> En nuestro Estado no existe una verdadera separación
            de poderes (ejecutivo, legislativo y judicial). Esto genera un sistema vulnerable a la corrupción,
            ya que los poderes no se controlan adecuadamente entre sí.
        </li>
        <li>
            <strong>Sistema de pensiones insostenible:</strong> Las pensiones operan como un
            <span style="text-decoration: underline; cursor: pointer; color: navy;"
                [ngbTooltip]="expliacionEsquemaPonzi">esquema Ponzi</span> dependiendo de más jóvenes cotizando que
            jubilados cobrando. El envejecimiento de la población hace insostenible este sistema.
        </li>
        <li>
            <strong>Deuda actual y futura:</strong> La deuda pública oficial es del 120% del PIB, pero la deuda
            real, considerando pensiones futuras, podría superar el 160% del PIB. Sin la ayuda del Banco Central
            Europeo, los intereses podrían desencadenar graves crisis económicas.
        </li>
        <li>
            <strong>Mentalidad y redes clientelares:</strong> Las reformas necesarias son impopulares, y los
            políticos no las implementan por temor a perder votantes, especialmente de los pensionistas, un
            grupo crucial en elecciones.
        </li>
    </ul>
</basic-card> -->

    <basic-card [title]="'Proyectos y Soluciones Tecnológicas'">
        <ul>
            <li>
                <strong>Sistema de prevención de desastres naturales:</strong> Implementar un sistema meteorológico
                riguroso y alarmas inmediatas para catástrofes como la DANA. Analizaremos patrones meteorológicos
                usando tecnología avanzada.
            </li>
            <li>
                <strong>Detección de corrupción:</strong> Uso de tecnología para detectar patrones de corrupción en
                cuentas públicas y mercantiles, analizando datos financieros.
            </li>
            <li>
                <strong>Educación optimizada:</strong> Aplicar tecnología para evaluar y mejorar el sistema
                educativo. Identificar métodos más eficientes basados en datos.
            </li>
            <li>
                <strong>Noticias transparentes:</strong> Desarrollar un agregador de noticias local con un sistema
                que etiquete y filtre noticias de forma objetiva, permitiendo un acceso transparente a la información.
            </li>
        </ul>
    </basic-card>

    <basic-card [title]="'Futuras Colaboraciones'">
        <p>
            Necesitamos gente que quiera colaborar, especialmente expertos en tecnología, pero también personas
            con una perspectiva social y humanística. <br> Nos inspiramos en proyectos como
            <a href="https://www.instagram.com/red.asirem/" target="_blank"
                style="text-decoration: underline; cursor: pointer; color: navy;" [ngbTooltip]="expliacionASIREM">
                ASIREM en Tenerife</a>, y queremos seguir
            un modelo de colaboración ciudadana.
        </p>
    </basic-card>

    <basic-card [title]="'Próximos Pasos'">
        <ul>
            <li>Crear una web simple que informe de nuestras intenciones y permita la participación ciudadana.</li>
            <li>Escribir un manifiesto claro que explique nuestras metas, herramientas, y necesidades.</li>
            <li>Organizar grupos de trabajo para desarrollar soluciones concretas.</li>
            <li>Iniciar contactos con otras asociaciones, como Maldita.es, para aprender de sus métodos.</li>
        </ul>
    </basic-card>

</div>