<div>
  <p>
    Aquí se mostrarán las cronologías de hechos importantes, todo lo que tiene que ver con ellos y su seguimiento (de
    forma cada vez más automatizada) y análisis de coste, daños, actores, etc...
  </p>
  <br /><br />

  <basic-card title="Dana de Valencia 2024">
    Por hacer...
    <!-- <div #chart id="chart"></div> -->
  </basic-card>

  <basic-card title="Historico de elecciones en España">
    Por hacer...
    <!-- <div #chart id="chart"></div> -->
  </basic-card>

  <basic-card title="Deuda pública">
    <iframe id='ep-chart-f4dcc707-9e28-4d16-aadb-0010a33a4db5-106'
      src='https://embed.epdata.es/representacion/f4dcc707-9e28-4d16-aadb-0010a33a4db5-106/450'
      style='width: 100%; min-height: 450px; overflow: hidden;' frameborder='0' scrolling='no' height='450'></iframe>
  </basic-card>

</div>