<p>
  Aquí se mostrarán las <strong>cronologías</strong> de hechos importantes, detallando todo lo que tiene que ver con ellos y su 
  <strong>seguimiento</strong>, el cual se realizará de forma cada vez más <strong>automatizada</strong>. Se llevará a cabo un 
  <strong>análisis exhaustivo</strong> de aspectos críticos como el <strong>coste</strong> asociado, los <strong>daños</strong> ocasionados, 
  y los <strong>actores involucrados</strong>. Además, se buscará y analizará toda la información disponible, 
  destacando y organizando datos relevantes que permitan una mejor comprensión de los eventos. Este enfoque integral 
  asegurará que se capte la magnitud de cada hecho, identificando patrones y aportando <strong>transparencia</strong> a los 
  procesos investigativos.
</p>


<basic-card title="Dana de Valencia (2024)">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="11M">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Madrid Arena">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Tragedia del Metro de Valencia (2006)">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Prestige">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Residencias en Madrid (COVID-19)">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Yak-42">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Inundaciones de Valencia">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Alvia">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Histórico de Elecciones en España">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Aznar e Invasión de Irak">
  🔨 En desarrollo...
  <!-- <div #chart id="chart"></div> -->
</basic-card>

<basic-card title="Deuda pública">
  <iframe id='ep-chart-f4dcc707-9e28-4d16-aadb-0010a33a4db5-106'
    src='https://embed.epdata.es/representacion/f4dcc707-9e28-4d16-aadb-0010a33a4db5-106/450'
    style='width: 100%; min-height: 450px; overflow: hidden;' frameborder='0' scrolling='no' height='450'></iframe>
</basic-card>