.card-content {
  position: relative;
  padding: 15px;
}

.vote-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.voters-count {
  color: #2c3e50;
  font-weight: bold;
}

.vote-status {
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.9em;
  color: #fff;
}

.vote-status.open {
  background-color: #28a745; /* Green for open */
}

.vote-status.closed {
  background-color: #dc3545; /* Red for closed */
}

i {
  padding-right: 5px;
}
